<a href="https://colab.research.google.com/github/ManishKVish/pairs/blob/main/ADF_Testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```
# This is formatted as code
```

**Step 1- Install libraries.**

In [1]:

!pip install numpy
!pip install pandas
!pip install matplotlib
!pip install yfinance
!pip install datetime

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.6)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.2.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (3.2.2)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.21.6)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.4.4)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.1.74-py2.py3-none-any.whl (27 kB)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 880 kB/s
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.6.15)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Installing collected packages: requests, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
Successfully installed requests-2.28.1 yfinance-0.1.74
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting datetime
  Downloading DateTime-4.5-py2.py3-none-any.whl (52 kB)
     |████████████████████████████████| 52 kB 734 kB/s
Collecting zope.interface
  Downloading zope.interface-5.4.0-cp37-cp37m-manylinux2010_x86_64.whl (251 kB)
     |████████████████████████████████| 251 kB 36.8 MB/s
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from datetime) (2022.2.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from zope.interface->datetime) (57.4.0)
Installing collected packages: zope.interface, datetime
Successfully installed datetime-4.5 zope.interface-5.4.0

# **Step 2:- Call mandatory libraries**

In [2]:
import pandas as pd
import numpy as np
import datetime as dt
import yfinance as yf
import statsmodels.api as sm
from dateutil.relativedelta import relativedelta


**Step 3:- Downloading the data from yahoo finance for ADF testing**

In [57]:
today1 = dt.datetime.today().strftime('%Y,%m,%d')

#start = dt.datetime(2021,6,1).date()
#end = dt.datetime(2021,8,28).date()

#############################################################
#OLD DATE
start = (dt.datetime.today() + relativedelta(months=-11)).date()

#TODAYS DATE
end = dt.datetime.today().date()
#############################################################

print(start)
print(end)

#STOCK1= "TATASTEEL.NS"
#STOCK2= "HINDALCO.NS"

#STOCK1= "JSWSTEEL.NS"
#STOCK2= "HINDALCO.NS"

#STOCK1= "ONGC.NS"
#STOCK2= "GAIL.NS"

#STOCK1= "DLF.NS"
#STOCK2= "GODREJPROP.NS"


#STOCK1= "ULTRACEMCO.NS"
#STOCK2= "GRASIM.NS"


#STOCK1= "ULTRACEMCO.NS"
#STOCK2= "SHREECEM.NS"


#STOCK1= "BAJAJ-AUTO.NS"
#STOCK2= "heromotoco.NS"


#STOCK1= "TVSMOTOR.NS"
#STOCK2= "heromotoco.NS"

#STOCK1= "DIVISLAB.NS"
#STOCK2= "DRREDDY.NS"

#STOCK1= "tatamotors.NS"
#STOCK2= "BAJAJ-AUTO.NS"

#STOCK1= "BAJAJ-AUTO.NS"
#STOCK2= "heromotoco.NS"


#STOCK1= "TVSMOTOR.NS"
#STOCK2= "heromotoco.NS"

#STOCK1= "DIVISLAB.NS"
#STOCK2= "DRREDDY.NS"


#STOCK1= "DIVISLAB.NS"
#STOCK2= "CIPLA.NS"

#STOCK1= "HINDPETRO.NS"
#STOCK2= " IOC.NS"

#STOCK1= "HINDPETRO.NS"
#STOCK2= "  BPCL.NS"


#STOCK1= " SBILIFE.NS"
#STOCK2= "  HDFCLIFE.NS"



#STOCK1= " ASIANPAINT.NS"
#STOCK2= "  BERGEPAINT.NS"


#STOCK1= " SUNPHARMA.NS"
#STOCK2= "  AUROPHARMA.NS"

#STOCK1= "  ICICIPRULI.NS"
#STOCK2= "  HDFCLIFE.NS"


STOCK1= "  JUBLFOOD.NS"
STOCK2= "  TATACONSUM.NS"

tickers=[
    STOCK1,
     STOCK2
     ]

DF =pd.DataFrame()

for i in tickers:
    df = yf.download(i,start,end,interval = "1d")[['Close']]
    df.columns = [i]                         
    DF = pd.concat([DF,df],axis =1)

DF = DF.copy().round(5)
DF

2021-09-21
2022-08-21
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

              JUBLFOOD.NS    TATACONSUM.NS
Date
2021-09-21      827.07001        858.90002
2021-09-22      821.84003        854.15002
2021-09-23      836.22998        850.65002
2021-09-24      823.39001        836.75000
2021-09-27      815.25000        835.04999
...                   ...              ...
2022-08-12      574.15002        763.45001
2022-08-16      584.25000        779.50000
2022-08-17      605.84998        793.50000
2022-08-18      620.15002        807.84998
2022-08-19      596.59998        786.95001

[228 rows x 2 columns]

**Step 4:- Finding the Hedge Ratio**

In [58]:
model = sm.OLS(DF[STOCK1],DF[STOCK2])
model = model.fit() 
'The hedge ratio is %.2f' % model.params[0]

'The hedge ratio is 0.83'

**Step 5:Adding a new column with calculated spread value**

---

In [59]:
DF['Spread'] = DF.iloc[:,0] - model.params[0] * DF.iloc[:,1]
DF

              JUBLFOOD.NS    TATACONSUM.NS      Spread
Date
2021-09-21      827.07001        858.90002  114.668872
2021-09-22      821.84003        854.15002  113.378705
2021-09-23      836.22998        850.65002  130.671675
2021-09-24      823.39001        836.75000  129.360858
2021-09-27      815.25000        835.04999  122.630895
...                   ...              ...         ...
2022-08-12      574.15002        763.45001  -59.081606
2022-08-16      584.25000        779.50000  -62.294038
2022-08-17      605.84998        793.50000  -52.306138
2022-08-18      620.15002        807.84998  -49.908464
2022-08-19      596.59998        786.95001  -56.123352

[228 rows x 3 columns]

**Step 6:- Finding the T-Stat value.**

In [60]:
# To perform ADF Test
from statsmodels.tsa.stattools import adfuller
# Compute ADF test statistics
adf = adfuller(DF.Spread, maxlag = 1)
print("\n\n\nADF VALUE FOR    ===>     "+ STOCK1 +"   :  "+STOCK2+"\n")
adf[0]

ADF VALUE FOR    ===>       JUBLFOOD.NS   :    TATACONSUM.NS

-1.2965479527327561

99% confidence -3.44	
95% Confidence -2.86	
90% Confidence  -2.56