<a href="https://colab.research.google.com/github/ManishKVish/pairs/blob/main/ADF_Testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```
# This is formatted as code
```

**Step 1- Install libraries.**

In [70]:
!pip install numpy
!pip install pandas
!pip install matplotlib
!pip install yfinance
!pip install datetime

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.6)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (3.2.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.21.6)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (3.0.9)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.74)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.28.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.6.15)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: datetime in /usr/local/lib/python3.7/dist-packages (4.5)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from datetime) (2022.2)
Requirement already satisfied: zope.interface in /usr/local/lib/python3.7/dist-packages (from datetime) (5.4.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from zope.interface->datetime) (57.4.0)

# **Step 2:- Call mandatory libraries**

In [71]:
import pandas as pd
import numpy as np
import datetime as dt
import yfinance as yf
import statsmodels.api as sm
from dateutil.relativedelta import relativedelta


**Step 3:- Downloading the data from yahoo finance for ADF testing**

In [72]:
today1 = dt.datetime.today().strftime('%Y,%m,%d')

start = (dt.datetime.today() + relativedelta(months=-12)).date()
end = dt.datetime.today().date()

print(start)
print(end)



tickers=[
    'TATAPOWER.NS',
     'JSWENERGY.NS'
     ]

DF =pd.DataFrame()

for i in tickers:
    df = yf.download(i,start,end,interval = "1d")[['Close']]
    df.columns = [i]                         
    DF = pd.concat([DF,df],axis =1)

DF = DF.copy().round(5)
DF

2021-10-18
2022-08-18
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

            TATAPOWER.NS  JSWENERGY.NS
Date
2021-10-18     257.29999     391.85001
2021-10-19     229.75000     379.20001
2021-10-20     230.35001     376.20001
2021-10-21     226.14999     370.95001
2021-10-22     222.00000     380.85001
...                  ...           ...
2022-08-10     228.50000     321.20001
2022-08-11     229.39999     317.64999
2022-08-12     232.39999     320.04999
2022-08-16     236.00000     333.54999
2022-08-17     237.30000     332.20001

[208 rows x 2 columns]

**Step 4:- Finding the Hedge Ratio**

In [73]:
model = sm.OLS(DF["TATAPOWER.NS"],DF['JSWENERGY.NS'])
model = model.fit() 
'The hedge ratio is %.2f' % model.params[0]

'The hedge ratio is 0.77'

**Step 5:Adding a new column with calculated spread value**

---

In [74]:
DF['Spread'] = DF.iloc[:,0] - model.params[0] * DF.iloc[:,1]
DF

            TATAPOWER.NS  JSWENERGY.NS     Spread
Date
2021-10-18     257.29999     391.85001 -45.232704
2021-10-19     229.75000     379.20001 -63.016104
2021-10-20     230.35001     376.20001 -60.099906
2021-10-21     226.14999     370.95001 -60.246598
2021-10-22     222.00000     380.85001 -72.040007
...                  ...           ...        ...
2022-08-10     228.50000     321.20001 -19.486479
2022-08-11     229.39999     317.64999 -15.845652
2022-08-12     232.39999     320.04999 -14.698602
2022-08-16     236.00000     333.54999 -21.521436
2022-08-17     237.30000     332.20001 -19.179167

[208 rows x 3 columns]

**Step 6:- Finding the T-Stat value.**

In [75]:
# To perform ADF Test
from statsmodels.tsa.stattools import adfuller
# Compute ADF test statistics
adf = adfuller(DF.Spread, maxlag = 1)
adf[0]

-2.7081971611069897

99% confidence -3.44	
95% Confidence -2.86	
90% Confidence  -2.56