<a href="https://colab.research.google.com/github/ManishKVish/pairs/blob/main/ADF_Testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```
# This is formatted as code
```

**Step 1- Install libraries.**

In [88]:
STOCK1= "ICICIBANK.NS"
STOCK2= "AXISBANK.NS"

!pip install numpy
!pip install pandas
!pip install matplotlib
!pip install yfinance
!pip install datetime

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.6)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (3.2.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.21.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.4.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.74)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.28.1)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.6.15)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: datetime in /usr/local/lib/python3.7/dist-packages (4.5)
Requirement already satisfied: zope.interface in /usr/local/lib/python3.7/dist-packages (from datetime) (5.4.0)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from datetime) (2022.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from zope.interface->datetime) (57.4.0)

# **Step 2:- Call mandatory libraries**

In [89]:
import pandas as pd
import numpy as np
import datetime as dt
import yfinance as yf
import statsmodels.api as sm
from dateutil.relativedelta import relativedelta


**Step 3:- Downloading the data from yahoo finance for ADF testing**

In [90]:
today1 = dt.datetime.today().strftime('%Y,%m,%d')

start = (dt.datetime.today() + relativedelta(months=-12)).date()
end = dt.datetime.today().date()

print(start)
print(end)





tickers=[
    STOCK1,
     STOCK2
     ]

DF =pd.DataFrame()

for i in tickers:
    df = yf.download(i,start,end,interval = "1d")[['Close']]
    df.columns = [i]                         
    DF = pd.concat([DF,df],axis =1)

DF = DF.copy().round(5)
DF

2021-08-18
2022-08-18
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

            ICICIBANK.NS  AXISBANK.NS
Date
2021-08-18     688.29999    754.40002
2021-08-20     680.70001    740.25000
2021-08-23     682.70001    736.09998
2021-08-24     694.45001    746.34998
2021-08-25     691.04999    739.04999
...                  ...          ...
2022-08-10     848.75000    739.00000
2022-08-11     859.70001    758.84998
2022-08-12     874.40002    760.54999
2022-08-16     879.25000    764.65002
2022-08-17     883.25000    772.09998

[248 rows x 2 columns]

**Step 4:- Finding the Hedge Ratio**

In [91]:
model = sm.OLS(DF[STOCK1],DF[STOCK2])
model = model.fit() 
'The hedge ratio is %.2f' % model.params[0]

'The hedge ratio is 1.02'

**Step 5:Adding a new column with calculated spread value**

---

In [92]:
DF['Spread'] = DF.iloc[:,0] - model.params[0] * DF.iloc[:,1]
DF

            ICICIBANK.NS  AXISBANK.NS     Spread
Date
2021-08-18     688.29999    754.40002 -80.713234
2021-08-20     680.70001    740.25000 -73.889100
2021-08-23     682.70001    736.09998 -67.658691
2021-08-24     694.45001    746.34998 -66.357240
2021-08-25     691.04999    739.04999 -62.315865
...                  ...          ...        ...
2022-08-10     848.75000    739.00000  95.435104
2022-08-11     859.70001    758.84998  86.150627
2022-08-12     874.40002    760.54999  99.117697
2022-08-16     879.25000    764.65002  99.788227
2022-08-17     883.25000    772.09998  96.193956

[248 rows x 3 columns]

**Step 6:- Finding the T-Stat value.**

In [96]:
# To perform ADF Test
from statsmodels.tsa.stattools import adfuller
# Compute ADF test statistics
adf = adfuller(DF.Spread, maxlag = 1)
print("ADF VALUE FOR    ===>     "+ STOCK1 +"   :  "+STOCK2)
adf[0]

ADF VALUE FOR    ===>     ICICIBANK.NS   :  AXISBANK.NS

-1.2072131655272489

99% confidence -3.44	
95% Confidence -2.86	
90% Confidence  -2.56