<a href="https://colab.research.google.com/github/ManishKVish/pairs/blob/main/ADF_Testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```
# This is formatted as code
```

**Step 1- Install libraries.**

In [113]:

!pip install numpy
!pip install pandas
!pip install matplotlib
!pip install yfinance
!pip install datetime

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.6)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (3.2.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (3.0.9)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.21.6)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.4.4)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.74)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.28.1)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.6.15)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: datetime in /usr/local/lib/python3.7/dist-packages (4.5)
Requirement already satisfied: zope.interface in /usr/local/lib/python3.7/dist-packages (from datetime) (5.4.0)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from datetime) (2022.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from zope.interface->datetime) (57.4.0)

# **Step 2:- Call mandatory libraries**

In [108]:
import pandas as pd
import numpy as np
import datetime as dt
import yfinance as yf
import statsmodels.api as sm
from dateutil.relativedelta import relativedelta


**Step 3:- Downloading the data from yahoo finance for ADF testing**

In [124]:
today1 = dt.datetime.today().strftime('%Y,%m,%d')

start = (dt.datetime.today() + relativedelta(months=-12)).date()
end = dt.datetime.today().date()

print(start)
print(end)


STOCK1= "ACC.NS"
STOCK2= "AMBUJACEM.NS"



tickers=[
    STOCK1,
     STOCK2
     ]

DF =pd.DataFrame()

for i in tickers:
    df = yf.download(i,start,end,interval = "1d")[['Close']]
    df.columns = [i]                         
    DF = pd.concat([DF,df],axis =1)

DF = DF.copy().round(5)
DF

2021-08-18
2022-08-18
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

                ACC.NS  AMBUJACEM.NS
Date
2021-08-18  2356.30005     409.39999
2021-08-20  2290.55005     391.79999
2021-08-23  2261.44995     390.64999
2021-08-24  2280.94995     395.35001
2021-08-25  2267.35010     397.04999
...                ...           ...
2022-08-10  2227.00000     380.04999
2022-08-11  2228.89990     380.20001
2022-08-12  2227.60010     384.79999
2022-08-16  2271.35010     396.10001
2022-08-17  2283.14990     398.29999

[248 rows x 2 columns]

**Step 4:- Finding the Hedge Ratio**

In [125]:
model = sm.OLS(DF[STOCK1],DF[STOCK2])
model = model.fit() 
'The hedge ratio is %.2f' % model.params[0]

'The hedge ratio is 5.97'

**Step 5:Adding a new column with calculated spread value**

---

In [126]:
DF['Spread'] = DF.iloc[:,0] - model.params[0] * DF.iloc[:,1]
DF

                ACC.NS  AMBUJACEM.NS      Spread
Date
2021-08-18  2356.30005     409.39999  -87.429607
2021-08-20  2290.55005     391.79999  -48.124300
2021-08-23  2261.44995     390.64999  -70.359990
2021-08-24  2280.94995     395.35001  -78.914652
2021-08-25  2267.35010     397.04999 -102.661770
...                ...           ...         ...
2022-08-10  2227.00000     380.04999  -41.537993
2022-08-11  2228.89990     380.20001  -40.533571
2022-08-12  2227.60010     384.79999  -69.290888
2022-08-16  2271.35010     396.10001  -92.991291
2022-08-17  2283.14990     398.29999  -94.323285

[248 rows x 3 columns]

**Step 6:- Finding the T-Stat value.**

In [127]:
# To perform ADF Test
from statsmodels.tsa.stattools import adfuller
# Compute ADF test statistics
adf = adfuller(DF.Spread, maxlag = 1)
print("\n\n\nADF VALUE FOR    ===>     "+ STOCK1 +"   :  "+STOCK2+"\n")
adf[0]

ADF VALUE FOR    ===>     ACC.NS   :  AMBUJACEM.NS

-1.5589349406660968

99% confidence -3.44	
95% Confidence -2.86	
90% Confidence  -2.56