<a href="https://colab.research.google.com/github/ManishKVish/pairs/blob/main/Correlation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```
# This is formatted as code
```
[link text](https://)
**Step 1:- Install all the important libraries mandatory for running the correlation code.**

In [25]:
!pip install numpy
!pip install pandas
!pip install matplotlib
!pip install yfinance
!pip install datetime

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.6)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (3.2.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (3.0.9)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.21.6)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.4.4)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.74)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.28.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.6.15)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: datetime in /usr/local/lib/python3.7/dist-packages (4.5)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from datetime) (2022.2)
Requirement already satisfied: zope.interface in /usr/local/lib/python3.7/dist-packages (from datetime) (5.4.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from zope.interface->datetime) (57.4.0)

[link text](https://)**Step 2** Import and call the installed libraries **bold text**

*   List item
*   List item


---



```
# This is formatted as code
```

In [26]:
import pandas as pd
import numpy as np
import datetime as dt
import yfinance as yf
from dateutil.relativedelta import relativedelta

** bold text *italicized text

1.   List item
2.   List item

Finance and make a data list*Step 3:- Make a list of tickers to be downloaded from Yahoo .** *italicized text*

In [27]:
data=[
"^NSEBANK",
"^NSEI",
"^CNXIT"
]

[link text](https:// [link text](https://))** italicized textStep 4:- Find **the** correlation Matrix and display it for analysis.**

1.   List item
2.   List item

In [36]:
#stock = yf.download(data, (old date)start ="2022-01-01", end="2022-06-10")
#month =stock['Close'].corr()
#month


datefromWeMeasure = (dt.datetime.today() + relativedelta(months=-12)).date()
dateToday = dt.datetime.today().date()
print("===================================================================== \nLAST 1 YEAR  \nstart from : "+datefromWeMeasure.strftime('%Y,%m,%d')+" \ntoday      : "+dateToday.strftime('%Y,%m,%d')+ "  \n ====================================================================")


stock = yf.download(data, datefromWeMeasure, dateToday)
month =stock['Close'].corr()
month

=====================================================================
LAST 1 YEAR
start from : 2021,08,18
today      : 2022,08,18
 ====================================================================
[*********************100%***********************]  3 of 3 completed

            ^CNXIT  ^NSEBANK     ^NSEI
^CNXIT    1.000000  0.523624  0.757920
^NSEBANK  0.523624  1.000000  0.914721
^NSEI     0.757920  0.914721  1.000000

In [37]:
datefromWeMeasure = (dt.datetime.today() + relativedelta(months=-6)).date()
dateToday = dt.datetime.today().date()
print("===================================================================== \nLAST 6 MONTH  \nstart from : "+datefromWeMeasure.strftime('%Y,%m,%d')+" \ntoday      : "+dateToday.strftime('%Y,%m,%d')+ "  \n ====================================================================")


stock = yf.download(data, datefromWeMeasure, dateToday)
month =stock['Close'].corr()
month

=====================================================================
LAST 6 MONTH
start from : 2022,02,18
today      : 2022,08,18
 ====================================================================
[*********************100%***********************]  3 of 3 completed

            ^CNXIT  ^NSEBANK     ^NSEI
^CNXIT    1.000000   0.36825  0.639307
^NSEBANK  0.368250   1.00000  0.923620
^NSEI     0.639307   0.92362  1.000000